.banner_wrap {
  height: 200px;
}
.banner_wrap .banner_title {
  margin-top: 80px;
}
main .main {
  margin: 15px 0;
  padding: 15px;
  background: var(--Primary-bg);
  border-radius: 5px;
}
main .main .article_title {
  margin-top: 10px;
  font-size: 1.3em;
  color: var(--title-color);
}
main .main .article_info {
  margin-top: 20px;
  display: flex;
}
main .main .article_info .article_info_item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  color: var(--info);
}
main .main .article_info .article_info_item_icon {
  margin: 0 5px;
  width: 15px;
  height: 15px;
  fill: var(--info);
}
main .main .article_info a {
  color: var(--info);
}
main .main .article_content {
  margin: 15px 0;
  line-height: 30px;
}
main .main .copy-text {
  margin-top: 35px;
  background: var(--html-bg);
  padding: 5px 15px;
}
main .main .copy-text p {
  padding: 3px 0;
  color: var(--info);
  font-size: 13px;
}
main .main .copy-text a {
  color: var(--info);
}
main .main .page {
  margin: 20px 0;
}
main .main .page .page_item {
  display: flex;
  margin: 10px 0;
  font-size: 14px;
  align-items: center;
}
main .main .page .page_item .page_icon {
  cursor: pointer;
  background: var(--html-bg);
  width: 65px;
  height: 25px;
  text-align: center;
  line-height: 25px;
  color: #999;
}
main .main .page .page_item a {
  margin-left: 15px;
  font-size: 12px;
  color: var(--title-color);
}
.comments {
  padding: 15px;
  background: var(--Primary-bg);
  border-radius: 5px;
}
.comments .comments_title {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--info);
}
.comments .comments_title_icon {
  width: 15px;
  height: 15px;
  fill: var(--info);
  margin: 0px 5px;
}
.comments .comments_header {
  margin: 15px 0;
  display: flex;
}
.comments .comments_header input {
  width: 33%;
  margin-left: 15px;
  height: 30px;
  text-indent: 1em;
  outline: none;
  border: 1px solid var(--border-color);
  transition: all 0.2s;
  background: var(--Primary-bg);
  color: var(--color);
}
.comments .comments_header input:nth-child(1) {
  margin-left: 0;
}
.comments .comments_header input:focus {
  border: 1px solid var(--Primary);
}
.comments .comments_main {
  position: relative;
}
.comments .comments_main textarea {
  padding: 15px;
  width: 100%;
  height: 150px;
  border: 1px solid var(--border-color);
  outline: none;
  resize: none;
  color: var(--color);
}
.comments .comments_main textarea:focus {
  border: 1px solid var(--Primary);
}
.comments .comments_main .comments_btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 65px;
  height: 30px;
  border: 0;
  background: var(--Primary);
  color: #fff;
  border-radius: 3px ;
}
.comments .comments_main .comments_btn:hover {
  animation: 5s ease-in-out 0s infinite normal none running comments_form_btn_and;
}
.comments .comments_main #content {
  background: var(--Primary-bg);
}
.comments .comments_list {
  margin-top: 15px;
}
.comments .comments_list .comments_list_item {
  display: flex;
  border-bottom: 1px solid var(--border-color);
  padding: 10px 0;
  margin: 15px 0;
}
.comments .comments_list .comments_list_item .comments_list_item_left {
  width: 50px;
  height: 50px;
}
.comments .comments_list .comments_list_item .comments_list_item_left img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.comments .comments_list .comments_list_item .comments_list_item_right {
  flex: 1;
  margin-left: 10px;
  color: #999;
}
.comments .comments_list .comments_list_item .comments_list_item_right .comments_list_item_content {
  margin: 10px 0;
  font-size: 14px;
}
.comments .comments_list .comments_list_item .comments_list_item_right .comments_list_item_date {
  font-size: 12px;
  margin: 5px 0;
}
.comments .comments_list .comments_list_item .comments_list_item_right .comments_list_item_date .comments_list_item_reply {
  opacity: 0;
  cursor: pointer;
  margin-left: 15px;
}
.comments .comments_list .comments_list_item .comments_list_item_right .comments_list_item_date .comments_list_item_reply .comments_list_item_reply_icon {
  margin-right: 3px;
  width: 20px;
  height: 20px;
  transform: translate(0, 5px);
}
.comments .comments_list .comments_list_item .comments_list_item_right .comments_list_item_date .comments_list_item_reply:hover {
  color: var(--Primary);
}
.comments .comments_list .comments_list_item .comments_list_item_right:hover .comments_list_item_reply {
  opacity: 1;
}
@media screen and (max-width: 466px) {
  .comments .comments_header {
    flex-wrap: wrap;
  }
  .comments .comments_header input {
    width: 100%;
    margin: 0;
    margin: 5px 0px;
  }
}
@media screen and (max-width: 726px) {
  main .main .article_content {
    font-size: 14px;
  }
}
@keyframes comments_form_btn_and {
  2% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  4% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  6% {
    -webkit-transform: translateY(1.5px) rotate(-1.5deg);
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  8% {
    -webkit-transform: translateY(-1.5px) rotate(-1.5deg);
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  10% {
    -webkit-transform: translateY(2.5px) rotate(1.5deg);
    transform: translateY(2.5px) rotate(1.5deg);
  }
  12% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  14% {
    -webkit-transform: translateY(-1.5px) rotate(1.5deg);
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  16% {
    -webkit-transform: translateY(-0.5px) rotate(-1.5deg);
    transform: translateY(-0.5px) rotate(-1.5deg);
  }
  18% {
    -webkit-transform: translateY(0.5px) rotate(-1.5deg);
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  20% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  22% {
    -webkit-transform: translateY(0.5px) rotate(-1.5deg);
    transform: translateY(0.5px) rotate(-1.5deg);
  }
  24% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  26% {
    -webkit-transform: translateY(0.5px) rotate(0.5deg);
    transform: translateY(0.5px) rotate(0.5deg);
  }
  28% {
    -webkit-transform: translateY(0.5px) rotate(1.5deg);
    transform: translateY(0.5px) rotate(1.5deg);
  }
  30% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  32%,
  34% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  36% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  38% {
    -webkit-transform: translateY(1.5px) rotate(-1.5deg);
    transform: translateY(1.5px) rotate(-1.5deg);
  }
  40% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  42% {
    -webkit-transform: translateY(2.5px) rotate(-1.5deg);
    transform: translateY(2.5px) rotate(-1.5deg);
  }
  44% {
    -webkit-transform: translateY(1.5px) rotate(0.5deg);
    transform: translateY(1.5px) rotate(0.5deg);
  }
  46% {
    -webkit-transform: translateY(-1.5px) rotate(2.5deg);
    transform: translateY(-1.5px) rotate(2.5deg);
  }
  48% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  50% {
    -webkit-transform: translateY(0.5px) rotate(0.5deg);
    transform: translateY(0.5px) rotate(0.5deg);
  }
  52% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  54% {
    -webkit-transform: translateY(-1.5px) rotate(1.5deg);
    transform: translateY(-1.5px) rotate(1.5deg);
  }
  56% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  58% {
    -webkit-transform: translateY(0.5px) rotate(2.5deg);
    transform: translateY(0.5px) rotate(2.5deg);
  }
  60% {
    -webkit-transform: translateY(2.5px) rotate(2.5deg);
    transform: translateY(2.5px) rotate(2.5deg);
  }
  62% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  64% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  66% {
    -webkit-transform: translateY(1.5px) rotate(-0.5deg);
    transform: translateY(1.5px) rotate(-0.5deg);
  }
  68% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  70% {
    -webkit-transform: translateY(1.5px) rotate(0.5deg);
    transform: translateY(1.5px) rotate(0.5deg);
  }
  72% {
    -webkit-transform: translateY(2.5px) rotate(1.5deg);
    transform: translateY(2.5px) rotate(1.5deg);
  }
  74% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  76% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  78% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  80% {
    -webkit-transform: translateY(1.5px) rotate(1.5deg);
    transform: translateY(1.5px) rotate(1.5deg);
  }
  82% {
    -webkit-transform: translateY(-0.5px) rotate(0.5deg);
    transform: translateY(-0.5px) rotate(0.5deg);
  }
  84% {
    -webkit-transform: translateY(1.5px) rotate(2.5deg);
    transform: translateY(1.5px) rotate(2.5deg);
  }
  86% {
    -webkit-transform: translateY(-1.5px) rotate(-1.5deg);
    transform: translateY(-1.5px) rotate(-1.5deg);
  }
  88% {
    -webkit-transform: translateY(-0.5px) rotate(2.5deg);
    transform: translateY(-0.5px) rotate(2.5deg);
  }
  90% {
    -webkit-transform: translateY(2.5px) rotate(-0.5deg);
    transform: translateY(2.5px) rotate(-0.5deg);
  }
  92% {
    -webkit-transform: translateY(0.5px) rotate(-0.5deg);
    transform: translateY(0.5px) rotate(-0.5deg);
  }
  94% {
    -webkit-transform: translateY(2.5px) rotate(0.5deg);
    transform: translateY(2.5px) rotate(0.5deg);
  }
  96% {
    -webkit-transform: translateY(-0.5px) rotate(1.5deg);
    transform: translateY(-0.5px) rotate(1.5deg);
  }
  98% {
    -webkit-transform: translateY(-1.5px) rotate(-0.5deg);
    transform: translateY(-1.5px) rotate(-0.5deg);
  }
  0%,
  100% {
    -webkit-transform: translate(0px) rotate(0deg);
    transform: translate(0px) rotate(0deg);
  }
}
