* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100vh;
  background: url(http://p3.qhimg.com/bdr/__85/t011ecade559ee939d2.jpg) no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  color: #409EFF;
  text-decoration: none;
}
.login_wrap {
  margin: 0 15px;
  border-radius: 8px;
  width: 100%;
  max-width: 333px;
  height: 340px;
  background: #fff;
  padding: 15px 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
}
.login_wrap .login_title {
  text-align: center;
  font-size: 30px;
  margin: 15px 0;
}
.login_wrap .login_form .login_form_item {
  outline: none;
  display: block;
  width: 100%;
  height: 40px;
  margin: 15px 0;
  border: 1px solid #D9D9D6;
  text-indent: 0.9em;
}
.login_wrap .login_form .login_form_item:focus {
  border: 1px solid #409EFF;
}
.login_wrap .login_form .login_form_submit {
  background: #409EFF;
  border: 0px;
  color: #fff;
  font-size: 16px;
  font-weight: 550;
  margin-top: 25px;
}
.login_wrap .login_form .login_form_submit:hover {
  background: #3991e9;
}
.login_wrap .login_form .login_form_footer {
  width: 100%;
  margin-top: 40px;
}
.login_wrap .login_form .login_form_footer .return {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
}
